[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
tensorflow = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
pydantic = "*"
fastapi = "*"
mtcnn = "*"

[dev-packages]

[requires]
python_version = "3.10"