body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #6e99a7;
}

p {
  color: #1a353e;
}

h1 {
  font-weight: bold;
}

.wrapper {
  margin-top: 40px;
  color: #1a353e;
  font-weight: bold;
}

#waiting-message {
  background-color: white;
  padding: 180px;
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 50%;
  margin-bottom: 40px;
  margin-top: 20px;
  align-items: center;
}

#image-preview-container {
  text-align: center;
}

#image-preview {
  display: block;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
  margin-top: 20px;
}

.middle {
  width: 35%;
  height: 600px;
  background-color: #d9d9d9;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  float: left;
  margin-left: 5%;
  margin-top: 20px;
  position: relative;
}

.button {
  display: block;
  width: 93%;
  padding: 12px;
  margin: 10px 0;
  background-color: #1a353e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
}

.left {
  color: white;
  background-color: #1a353e;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
  float: left;
  width: 25%;
  height: 600px;
}

.left-inner {
  color: black;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  height: 89%;
  overflow-y: auto;
}

.history-entry {
  border: 1px solid #ffffff;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.entry-content {
  display: flex;
  align-items: center;
}

.entry-content h3 {
  margin-right: 9px;
  padding-left: 5px;
  white-space: nowrap; /* Prevents name from wrapping */
  overflow-x: auto;
  text-overflow: ellipsis;
  font-weight: bold;
}

.entry-content img {
  max-width: 90px;
  height: auto;
  margin-left: auto;
  border-radius: 20px;
}

.right {
  margin-right: 30px;
  margin-top: 20px;
  float: right;
  background-color: #d9d9d9;
  width: 25%;
  height: 600px;
  border-radius: 15px;
  padding: 15px;
}

.right-inner {
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  height: 89%;
}
