<!DOCTYPE html>
{% include 'base.html' %} {% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome to AiDentity</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/home.css' %}"
    />
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to AiDentity</h1>
      <p>Please choose one of the options below</p>

      <div class="left">
        <h1>History</h1>
        <div class="left-inner">
          <h2>bob</h2>
        </div>
      </div>

      <div class="middle">
        <button class="button">Upload a file</button>
        <button class="button">Use Camera</button>
      </div>

      <div class="right">
        <h1>Status</h1>
      </div>
    </div>
  </body>
</html>
